.App {
  height: 100vh; 
  width: 100%;   
  background-image: url('./images/9616997915_3ceb277ca1_b.jpg'); 
  background-size: cover;  
  background-position: center; 
  background-repeat: no-repeat; 
  background-color: lightgray;  
}


